* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
  padding: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-weight: 400;
  font-size: 2rem;
  padding: 0 1rem;
  text-shadow: 0 2px #816fca;
}

h2 {
  font-size: 1.75rem;
  margin: 0.1667em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text,
.subheading,
.top-text {
  text-transform: uppercase;
  font-weight: 900;
}


.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
  margin-bottom: 0.5em;
  order: 1;
}

.fine-print {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #858585;
}

.top-text {
  font-size: 0.875rem;
  font-weight: 900;
  padding-top: 0.25em;
  border-top: 0.5rem solid;
  order: -1;
  margin-top: 0;
  align-self: center;
}

/* =================
    Intro
   ================= */

.intro {
  color: #fff;
  background: #9480e4 url("../images/intro-bg.png") no-repeat center center /
    cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}

/* ====================
    Main content
   ==================== */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 2em;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}

/* =================
    Form
   ================= */

input,
button {
  font-family: inherit;
  width: 100%;
  border-radius: 5px;
}

input {
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 2px solid #d1d5db;
}

input:focus,
input:hover {
  outline: none;
  border-color: #8a71ec;
  background-color: #e6e8ec;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 1em 0;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-primary {
  color: white;
  background-color: #8a71ec;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: #fff;
  outline: none;
  color: #8a71ec;
  border: 2px solid #8a71ec;
}

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 5vw;
    padding: 0;
  }

  h2 {
    font-size: 4vw;
  }

  .beta-text {
    font-size: 1.25rem;
  }

  .intro,
  .main-content {
    flex-basis: 50%;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
    justify-content: center;
    padding: 0 2em;
  }
}

@media (min-width: 1100px) {
  h1 {
    padding: 0 1em;
  }
}
